<!doctype html>
<html lang="en" ng-app='MyApp'>
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="https://code.angularjs.org/1.6.4/angular.min.js"> </script>
    <script src="app.js"> </script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .error{ color: red; }
      .success{ color: green; }
      .error-border{ border-color: red}
      .success-border{ border-color: green}
    </style>
  </head>
<body>
   <div class="container" ng-controller='MyController'>
     <h1>Lunch Checker</h1>

         <div class="form-group" >
             <input ng-model="dishesList" id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-class="{{borderClass()}}">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="check(dishesList);">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-class="count == 0 ? 'error' : 'success'">
           <!-- Your message can go here. -->
           {{message}}
         </div>
   </div>

</body>
</html>
