* {
    box-sizing: border-box;
}

header h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
}

#collapsable-nav .navbar-nav li {
    text-align: center;
    background-color: #ddd;
    border-bottom: 1px solid black;
}

#collapsable-nav ul:first-child {
    border-top: 1px solid black;
}

#collapsable-nav .navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container > .row > section {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.container > .row  > section  > article {
    background-color: #ddd;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: solid 1px black;
}